{% extends "base.html" %}
{% block main %}
<div class="card-panel">
    <div class="card-content center-align">
        <form action="" method="POST">
            {% csrf_token %}
            <p class="center-align">Are you sure you want to delete: </p>
            <p class="red-text text-accent-3">{{task}}</p>

            <div>
                <button class="btn-floating btn-large waves-effect waves-light red" type="submit"><i
                        class="material-icons">delete</i></button>
            </div>
        </form>
    </div>

</div>
{% endblock main %}